<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>home page</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center font-weight-bold">
			<h2 class="text-uppercase ">Smart Contact Manager</h2>
			<p style="color: #4a148c; font-weight: 600;" class="fs-3 "><u>
					Start Collecting your contact in very smarter way.We provider very efficient and smarter way to
					handle contact.
				</u>
			</p>
			<a class="btn  text-white btn-lg fs-4" th:href="@{/login1}">Get Start</a>
		</div>
	</section>

</body>

</html>